.home-container {
  display: flex;
  height: 100%;
  padding: 0 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
  overflow: auto;
}

.home-left, .home-middle, .home-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-left, .home-right {
  width: 15rem;
  flex-shrink: 0;
  height: 100%;
}

.home-middle {
  width: 100%;
}

.groups-container, .profile-container, .games-container, .users-container {
  background-color: var(--panel-dark);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.groups-container, .users-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.profile-container, .upload-container {
  height: 4rem;
}

.games-container {
  min-height: 10rem;
}

.clips-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: auto;
}

.search-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.logo {
  padding: 0.5rem;
}

.section-title {
  margin-bottom: 1rem;
}