.input-wrap {
  width: 100%;
}

.input-wrap input {
  border: none;
  background-color: var(--panel-dark);
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: 0.25rem;
  user-select: none;
}

.input-wrap input:focus {
  outline: 2px solid var(--blue)
}